.header{

   border : 1px solid green;
   padding: 4px;
}

.header a{

    color: green;
    border: 1px solid black;
    padding: 4px 100px ;
    display: inline-block;
    margin: 200px;
    text-decoration: none;
  
}
